<nav id="sub-nav" class="navbar navbar-default navbar-fixed-top">
    <div class="container" style="padding-top: 10px;">
        <div class="navbar-brand">
            Docentes
        </div>

        <div class="btn-group pull-right">
            <div excel-export export-data="docCtrl.exportData" file-name="{{docCtrl.fileName}}"></div>
            <button id="curso" class="btn btn-primary btn-lg" type="button" ng-click="docCtrl.mostrarAgregarDocenteModal()">
                <strong style="font-size: 14px;">
                    <i class="glyphicon glyphicon-plus-sign"></i> Nuevo Docente</strong>
            </button>
        </div>
    </div>
</nav>
<div class="spacing-big"></div>
<periodo-label></periodo-label>
<usuario-label></usuario-label>
<div class="spacing-big"></div>
<div class="input-group">
    <span class="input-group-addon">
        <i class="glyphicon glyphicon-search"></i>
    </span>
    <input id="search" type="text" class="form-control input-lg" name="search" placeholder="Buscar por DNI" ng-model="dniDocente">
</div>
<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th class="text-center">DNI</th>
            <th class="text-center">Nombre</th>
            <th class="text-center">Apellido</th>
            <th class="text-center">Celular</th>
            <th class="text-center">Ocupación</th>
            <th class="text-center">Ver | Editar | Borrar</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="doc in docCtrl.docentes | searchDocenteForDni:dniDocente">
            <td>{{ doc.dni }}</td>
            <td>{{ doc.nombre }}</td>
            <td>{{ doc.apellido }}</td>
            <td>{{ doc.celular }}</td>
            <td>{{ doc.ocupacion }}</td>
            <td class="text-center">
                <div class="btn-group">
                    <a ng-click="docCtrl.verOnClick(doc)" class="btn btn-sm btn-default">
                        <i class="fa fa-search"></i>
                    </a>
                    <a ng-click="docCtrl.mostrarAgregarDocenteModal(doc)" class="btn btn-sm btn-primary">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a ng-click="docCtrl.borrarOnClick($index, doc._id)" class="btn btn-sm btn-default">
                        <i class="fa fa-trash"></i>
                    </a>
                </div>
            </td>
        </tr>
    </tbody>
</table>