
<div class="modal-header">
    <button id="cerrar" type="button" class="close" ng-click="docModalCtrl.cerrar()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4><span style="font-weight:bold;">{{docModalCtrl.titulo}}</span></h4>
</div>
<div class="modal-body">
    <form role="form" ng-submit="docModalCtrl.onClickGuardar()">
        <div class="row">
            <div class="form-group">
                <div class={{docModalCtrl.alert}} role="alert" ng-show="docModalCtrl.mostarMensaje">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    <strong>{{docModalCtrl.alertType}} </strong> {{docModalCtrl.alertMsg}}
                </div>
            </div>
            <div class="col-xs-6"></div>
            <div class="col-xs-6">
                <button class={{docModalCtrl.colorButton}} type={{docModalCtrl.typeButton}}>
                    <span class={{docModalCtrl.iconButton}}></span> {{docModalCtrl.labelButton}}
                </button>
            </div>
        </div>
        
        <div class="form-group" style="padding-top: 5px"></div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="dni">DNI*</label>
                    <input id="dni" ng-model="docModalCtrl.dni" class="form-control" type="text" placeholder="Ingrese el DNI sin puntos ej. 31456789" required>
                </div>
                <div class="form-group">
                    <label for="apellido">Apellido*</label>
                    <input id="apellido" ng-model="docModalCtrl.apellido" class="form-control" type="text" placeholder="Ingrese el apellido" required>
                </div>
                <div class="form-group">
                    <label for="nacionalidad">Nacionalidad*</label>
                    <ui-select ng-model="docModalCtrl.nacionalidad" theme="selectize">
                    <ui-select-match placeholder=" -- Busca y selecciona la nacionalidad --">
                        {{ $select.selected.gentilicio }}
                    </ui-select-match>
                    <ui-select-choices group-by="'continente'" repeat="region in docModalCtrl.regiones | filter: $select.search track by region.pais">
                        <div ng-bind-html="region.pais | highlight: $select.search"></div>
                        <small>Nacionalidad: {{ region.gentilicio }}</small>
                    </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label for="provincia">Provincia*</label>
                    <ui-select ng-model="docModalCtrl.provincia" theme="selectize">
                    <ui-select-match placeholder=" -- Busca y selecciona la provincia --">
                        {{ $select.selected.nombre }}
                    </ui-select-match>
                    <ui-select-choices repeat="p in docModalCtrl.provincias | filter: $select.search track by p.nombre">
                        <div ng-bind-html="p.nombre | highlight: $select.search"></div>
                    </ui-select-choices>
                    </ui-select>
                </div>
                 <div class="form-group">
                    <label for="barrio">Barrio</label>
                    <input id="barrio" ng-model="docModalCtrl.barrio" class="form-control" type="text" placeholder="Ingrese el barrio">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" ng-model="docModalCtrl.email" class="form-control" type="email" placeholder="Ingrese una dirección correo válida">
                </div>
                <div class="form-group">
                    <label for="celular">Celular*</label>
                    <input id="celular" ng-model="docModalCtrl.celular" class="form-control" type="text" placeholder="Ingrese el teléfono celular" required>
                </div>

            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="fechaNac">Fecha de Nacimiento (dia/mes/año)*: </label>
                     <p class="input-group">
                      <input type="text" class="form-control" uib-datepicker-popup='dd/MM/yyyy' ng-model="docModalCtrl.fecnac" is-open="docModalCtrl.popup.opened" datepicker-options="docModalCtrl.dateOptions" close-text="Close" alt-input-formats="docModalCtrl.altInputFormats" placeholder="Ej. 01/31/1985"/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="docModalCtrl.open()"><i class="glyphicon glyphicon-calendar calendar-btn"></i></button>
                      </span>
                    </p>
                </div>
                <div class="form-group">
                    <label for="nombre">Nombre*</label>
                    <input id="nombre" ng-model="docModalCtrl.nombre" class="form-control" type="text" placeholder="Ingrese el nombre completo" required>
                </div>
                <div class="form-group">
                    <label for="sexo">Sexo*</label>
                    <ui-select ng-model="docModalCtrl.sexo" theme="selectize">
                    <ui-select-match placeholder=" -- Selecciona el sexo --">
                        {{ $select.selected.nombre }}
                    </ui-select-match>
                    <ui-select-choices repeat="s in docModalCtrl.sexos | filter: $select.search track by s.nombre">
                        <div ng-bind-html="s.nombre | highlight: $select.search"></div>
                    </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label for="localidad">Localidad*</label>
                    <input id="localidad" ng-model="docModalCtrl.localidad" class="form-control" type="text" placeholder="Ingrese la localidad" required>
                </div>
                 <div class="form-group">
                    <label for="domicilio">Domicilio</label>
                    <input id="domicilio" ng-model="docModalCtrl.domicilio" class="form-control" type="text" placeholder="Ingrese el domicilio">
                </div>
                <div class="form-group">
                    <label for="fijo">Teléfono</label>
                    <input id="fijo" ng-model="docModalCtrl.fijo" class="form-control" type="text" placeholder="Ingrese el teléfono fijo">
                </div>
                <div class="form-group">
                    <label for="ocupacion">Ocupación</label>
                    <input id="ocupacion" ng-model="docModalCtrl.ocupacion" class="form-control" type="text" placeholder="Ingrese la ocupacion laboral">
                </div>

            </div>
        </div>

    </form>
</div>

