<form>
<nav class="navbar-av navbar-fixed-top">
    <div class="container" style="padding-top: 10px;">
        <div class="navbar-brand">
            Asistencia
        </div>
         <div class="btn-group pull-right">
            <div excel-export export-data="asiCtrl.exportData" file-name="{{asiCtrl.fileName}}" ng-if="asiCtrl.exportData.length > 0"></div>
             <button id="registrar" class={{asiCtrl.colorButton}} type="button" ng-click="asiCtrl.verListaOnClick()">
               <strong style="font-size: 14px;"> <i class={{asiCtrl.iconButton}}></i> {{asiCtrl.labelButton}}</strong>
            </button>
        </div>
    </div>
</nav>
<div class="spacing-big"></div>
    <nav class="navbar-av navbar-fixed-top">
        <div class={{asiCtrl.alert}} role="alert" ng-show="asiCtrl.mostarMensaje">
            <div class="alert-custom">
                <button type="button" class="close" ng-click="asiCtrl.dismissAlert()">&times;</button>
                <i class={{asiCtrl.icon}}></i>
                {{asiCtrl.alertMsg}}
            </div>
        </div>
    </nav>
<div class="container">
   <div class="form-group">
   <h4><strong>Fecha de Asistencia*</strong></h4>
         <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup='dd/MM/yyyy' ng-model="asiCtrl.fecasis" is-open="asiCtrl.popup.opened" datepicker-options="asiCtrl.dateOptions" ng-required="true" 
          close-text="Close" alt-input-formats="asiCtrl.altInputFormats" placeholder="Ej. 31/12/2017"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-success" ng-click="asiCtrl.open()"><i class="glyphicon glyphicon-calendar asi-calendar-btn"></i></button>
          </span>
        </p>
    </div>
    <div class="spacing-less"></div>
    <div class="form-group">
            <a href class="pull-right" ng-click="asiCtrl.limpiar()"><small>Limpiar<small></a>
            <h4><strong>Seleccione un curso para ver la lista de asistencia*</strong></h4>
            <ui-select ng-model="asiCtrl.cursoSeleccionado" theme="selectize">
            <ui-select-match placeholder=" -- Busca y selecciona un curso --" required>
                {{$select.selected.nombre}}
            </ui-select-match>
            <ui-select-choices repeat="curso in asiCtrl.cursos | filter: $select.search track by curso.nombre">
                <div ng-bind-html="curso.nombre | highlight: $select.search"></div>
            </ui-select-choices>
            </ui-select>
            <div class="spacing-less"></div>
    </div>  
        <div ng-if="asiCtrl.listaAsistencia.length > 0">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                <input id="search" type="text" class="form-control input-lg" name="search" placeholder="Buscar por DNI del Alumno" ng-model="asiCtrl.dniAlumno">
            </div>
            <table class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <!-- <th class="text-center"><input type="checkbox" ng-model="asiCtrl.selectedAll" ng-change="asiCtrl.checkAll()"></th> -->
                    <th class="text-center"></th>
                    <th class="text-center">DNI</th>
                    <th class="text-center">Alumno</th>
                    <th class="text-center">Curso</th>
                    <th class="text-center">Fecha</th>
                    <th class="text-center">Asitencia</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="asis in asiCtrl.listaAsistencia | searchAsistenciaForDni:asiCtrl.dniAlumno">
                    <td class="text-center"><input type="checkbox" ng-click="asiCtrl.checkboxSelected($index, asis)" ng-checked="asis.asistencia"></td>
                    <td>{{asis.dni}}</td>
                    <td>{{asis.alumno}}</td>
                    <td>{{asis.curso}}</td>
                    <td class="text-center">{{asis.fecha}}</td>
                    <td class="text-center">
                        <span ng-show="asis.asistencia" class="label label-success">PRESENTE</span>
                        <span ng-show="!asis.asistencia" class="label label-danger">AUSENTE</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</form>

