<nav class="navbar-av navbar-fixed-top">
    <div class="container" style="padding-top: 10px;">
        <div class="navbar-brand">
            Inscripciones
        </div>

         <div class="btn-group pull-right">
            <div excel-export export-data="insCtrl.exportData" file-name="{{insCtrl.fileName}}"></div>
            <button id="curso" class="btn btn-success btn-lg" type="button" ng-click="insCtrl.irInscripciones()">
               <strong style="font-size: 14px;"> <i class="glyphicon glyphicon-plus-sign"></i> Nueva Inscripción</strong>
            </button>
        </div>
    </div>
</nav>
<div class="spacing-big"></div>
    <nav class="navbar-av navbar-fixed-top">
        <div class={{insCtrl.alert}} role="alert" ng-show="insCtrl.mostarMensaje">
            <div class="alert-custom">
                <button type="button" class="close" ng-click="insCtrl.dismissAlert()">&times;</button>
                <i class={{insCtrl.icon}}></i>
                {{insCtrl.alertMsg}}
            </div>
        </div>
    </nav>
<div class="container">
    <div class="form-group">
            <a href class="pull-right" ng-click="insCtrl.restarFiltro()"><small>Limpiar filtro<small></a>
            <h5><strong>Filtrar por Curso</strong></h5>
            <ui-select ng-model="insCtrl.cursoSeleccionado" theme="selectize" on-select="insCtrl.filterPorCurso($select.selected.nombre)">
            <ui-select-match placeholder=" -- Busca y selecciona un curso como filtro --" required>
                {{$select.selected.nombre}}
            </ui-select-match>
            <ui-select-choices repeat="curso in insCtrl.cursos | filter: $select.search track by curso.nombre">
                <div ng-bind-html="curso.nombre | highlight: $select.search"></div>
            </ui-select-choices>
            </ui-select>
    </div>
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
        <input id="search" type="text" class="form-control input-lg" name="search" placeholder="Buscar por DNI del Alumno" ng-model="dniAlumno">
    </div>
    <table class="table table-hover table-striped table-bordered">
        <thead>
            <tr>
                <th class="text-center">DNI</th>
            	<th class="text-center">Alumno</th>
                <th class="text-center">Curso</th>
                <th class="text-center">Fecha Ins.</th>
                <th class="text-center">Documentacion</th>
                <th class="text-center">Operaciones</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ins in insCtrl.inscripciones | searchForDni:dniAlumno">
                <td>{{ins.dni}}</td>
                <td>{{ins.alumno}}</td>
                <td>{{ins.curso}}</td>
                <td>{{ins.fecinsc}}</td>
                <td>{{ ins.estadoc ? "COMPLETA" : "INCOMPLETA" }}</td>
                <td class="text-center">
                    <div class="btn-group">
                        <a ui-sref="editar({id: ins._id})" class="btn btn-sm btn-warning"> 
                            <i class="fa fa-pencil"></i> Editar
                        </a>
                        <a ng-click="insCtrl.borrarOnClick($index, ins._id)" class="btn btn-sm btn-danger"> 
                            <i class="fa fa-trash"></i> Borrar 
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>