<div class="modal-header">
    <button id="cerrar" type="button" class="close" aria-label="Close" ng-click="lgCtrl.cerrar()"><span aria-hidden="true">&times;</span></button>
    <h4><strong>Inicio de Sesión</strong></h4>
</div>

<div class="modal-body">
<form ng-submit="lgCtrl.login()">
 	<div class="form-group text-center">
  		<img src="user.png" class="img-circle" width="100">
  	</div>
  	
    <div class="inner-addon left-addon">
      <i class="glyphicon glyphicon-user"></i>      
      <input id="usuario" type="text" class="form-control" placeholder="Usuario" />
    </div>
  	<div class="spacing-less"></div>
   <div class="inner-addon left-addon">
      <i class="glyphicon glyphicon-lock"></i>      
      <input id="usuario" type="password" class="form-control" placeholder="Contraseña" />
    </div>
    <div class="spacing-less"></div>
    <div class="form-group">
  		<button class="btn btn-primary btn-block" type="submit">Iniciar Sesión</button>
  	</div>
</form>
</div>